@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --font-logo: "Alex Brush", sans-serif;
  --font-header: "Inter", sans-serif;
  --font-text: "Inter", sans-serif;
  @keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-10deg); }
    20% { transform: rotate(12deg); }
    30% { transform: rotate(-10deg); }
    40% { transform: rotate(9deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }

  --animate-wave: wave 1.8s infinite;
}